<!DOCTYPE html>
<html>
<head>
	<title>TPOST - A simple TwitPost</title>
</head>
<body>
Test Demo: <%= bot %>
<br>
Angular.js
<br>
C3.js
<br>
Gulp.js
<br>
Foundation.css
<br>
Bootstrap.css
<br>
jQuery
<br>
<br>
<br>

<br>
javascript
<br>
css3
<br>
html5
<br>

<br>
Redis
<br>
Express
<br>
Ejs
<br>
MongoJS
<br>


</body>
</html>