<!DOCTYPE html>
<html>
<head>
	<title>TimeLine</title>
</head>
<body>
    <div class="nag">
        <form name="posts" method="post" action="/New_Article">
            Title: <input type="text" name="title"><br />
            Post: <br /><textarea name="post" cols="45"></textarea>
            <input type="submit" />
        </form>
        <hr>
    </div>
    
    <% for(var i=0;i<list.length;i++) {%>
        <div class="article">
            <h1><%= list[i].title%></h1>
            <hr>
            <h2 title="2014.11.15"># <%= list[i].date %> by <a href="#"><%= list[i].author %></a></h2>
            <p><%= list[i].post %></p>
            <div disqus>
                shoe disqus
            </div>
        </div>
    <% } %>
    
</body>
</html>