<!DOCTYPE html>
<html>
<head>
	<title>TimeLine</title>
</head>
<body>
    <div class="nag">
        <form name="posts" method="post" action="/New_Article">
            
        </form>
    </div>
    <div class="article">
        <h1>第一篇的文章</h1>
        <hr>
        <h2 title="2014.11.15"># Nov. 15 by <a href="#">作者</a></h2>
        <p>這是第一篇文章，確保文章可以正常看的到，早安!</p>
        <div disqus>
            shoe disqus
        </div>
    </div>
</body>
</html>